
<div class="container">
    <hr>
    <div class="row">
        <div class="col-md-4">
            <a href="#"><i style="border-radius:2px;" class="glyphicon glyphicon-heart"></i> En beğenilenler</a>
            <a href="#"><i class="glyphicon glyphicon-list"></i> En son Yazılar</a>
        </div>
        <div class="col-md-8">

        </div>
    </div>
    <!-- Footer -->
    <footer>
        <div class="row">

            <div class="col-lg-8">
                <p>Copyright &copy; <i> Tüm Hakları saklıdır, İzinsiz Veri Alınması Yasaktır, Sadece Link OLarak Paylaşılabilir </i>  <b>Bilim Makalem</b> @DateTime.Now.Year </p>
            </div>
            <div class="col-lg-2">E-Bulten Aboneliği</div>
            <div class="col-lg-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Mail Adresiniz...">
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button">Gönder!</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>
    </footer>
</div>
